.layout {
  display: flex;
}

.sidebar-container {
  padding-top: 20px;
  width: 250px;
  background-color: #015249;
  transition: transform 0.3s ease;
  transform: translateX(0);
  height: 100vh;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  position: fixed;
  z-index: 999;
}

.sidebar-container.open {
  transform: translateX(-100%);
}

.sidebar-toggle-button {
  display: none;
}

.outlet-container {
  margin-left: 250px;
  width: 100%;
}

.sidebar-menu {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.menu-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  color: #fff;
  width: 130px;
  border-radius: 10px;
  cursor: pointer;
}

.menu-item.active {
  background-color: #043933;
}

.header {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  padding: 20px;
  background-color: #fff;
  /* width: 100%; */
}

/* Media queries for responsive styles */
@media (max-width: 768px) {
  .layout {
    /* flex-direction: column; */
  }

  .outlet-container {
    margin-left: 0;
    padding-top: 50px;
  }

  .sidebar-container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    transform: translateX(-100%);
    z-index: 999;
    transition: transform 0.3s ease;
    height: 100%;
  }

  .sidebar-container.open {
    transform: translateX(0);
  }

  .sidebar-toggle-button {
    display: block;
    position: fixed;
    top: 20px;
    left: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #015249;
    color: #fff;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    z-index: 999;
  }
}
