.customer-container {
  background: #f3f3f3;
  height: 100%;
  padding: 30px 50px;
  min-width: 800px;
}

.table-head {
  background: #c5e3d5;
  color: #02534a;
  font-weight: bold;
  border-radius: 10px;
  padding: 20px;
}

.table-head-item {
  display: flex;
  align-items: center;
  font-size: large;
  color: #02534a;
}

.table-head-item:hover {
  cursor: pointer;
  color: #02534a;
}

.customer-row {
  background: #ffffff;
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
  text-align: left;
}

.dp-col > img {
  width: 80px;
  height: 80px;
  /* border-radius: 50%; */
}

.name-col > span {
  text-decoration: underline;
  color: #84ceae;
}

.name-col > span:hover {
  cursor: pointer;
}

.actions {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.actions > button {
  width: 120px;
}

.edit-btn {
  background: #b0e1b7;
  border: none;
  color: #02534a;
}

.edit-btn:hover {
  color: #02534a !important;
}

.delete-btn {
  background: #e1b0b0;
  border: none;
  color: #e34646;
}

.delete-btn:hover {
  color: #e34646 !important;
}

.new-customer {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.new-customer-btn {
  background: linear-gradient(to right, #5aae8d, #075547);
  border: none;
  color: #ffffff;
  height: 50px;
  width: 190px;
  border-radius: 10px;
  font-size: large;
}

.new-customer-btn:hover {
  color: #fff !important;
}

.table-data {
  min-height: 420px;
}

.add-modal-top {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 20px;
  width: 100%;
  background: linear-gradient(95deg, #5aae8d, #075547);
  color: #ffffff;
  border-radius: 8px;
  /* border-top-right-radius: 8px; */
  height: 130px;
}

.add-modal-top > span {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 30px;
}

.add-modal-body {
  padding: 20px;
  background: #ffffff;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.action {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px 20px;
}

.delete-modal-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  height: 350px;
}

.delete-modal-content > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.del-actions {
  display: flex;
  justify-content: space-around !important;
  align-items: center !important;
  width: 70%;
  flex-direction: row !important;
}

.del-actions > button {
  width: 120px;
}

.cancel-btn {
  background: #a5a5af;
  border: none;
  color: #fff;
}

.cancel-btn:hover {
  color: #fff !important;
}

.del-btn {
  background: #d80000;
  border: none;
  color: #fff;
}

.del-btn:hover {
  color: #fff !important;
}
